In [2]:
import os
import numpy as np
import pandas as pd

In [25]:
pwd

'C:\\Users\\pavan\\Open Data Science - Lecture 1 & 2'

In [26]:
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
#import warnings
#warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("C:/Users/pavan/Desktop/Data Science Exercise/adult.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (sex feature) are represented in this dataset?**

In [32]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (age feature) of women?**

In [71]:
female = data.groupby('sex').mean()
print("Average age of Women in the dataset:",female['age'].Female)

Average age of Women in the dataset: 36.85823043357163

**3. What is the percentage of German citizens (native-country feature)?**

In [72]:
country = data['native-country'].value_counts(normalize=True)
print("Percentage of Germans in the dataset:",country['Germany']*100)

Percentage of Germans in the dataset: 0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?**

In [70]:
data.groupby('salary').describe()
mean_age = data.groupby('salary').describe().age['mean']
std_age = data.groupby('salary').describe().age['std']
print("Mean age of people as divided by salary",mean_age)
print("\n\n")
print("Standard Deviation of age of people as divided by salary",std_age)

Mean age of people as divided by salary salary
<=50K    36.783738
>50K     44.249841
Name: mean, dtype: float64



Standard Deviation of age of people as divided by salary salary
<=50K    14.020088
>50K     10.519028
Name: std, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)**

In [94]:
counted = data.pivot_table(index='education', values='workclass', columns='salary', aggfunc='count')
print(counted)
print("\n")
print('As we can see from the table that there are people who are earning more than 50K who have atleast a high school education')

salary         <=50K    >50K
education
10th           871.0    62.0
11th          1115.0    60.0
12th           400.0    33.0
1st-4th        162.0     6.0
5th-6th        317.0    16.0
7th-8th        606.0    40.0
9th            487.0    27.0
Assoc-acdm     802.0   265.0
Assoc-voc     1021.0   361.0
Bachelors     3134.0  2221.0
Doctorate      107.0   306.0
HS-grad       8826.0  1675.0
Masters        764.0   959.0
Preschool       51.0     NaN
Prof-school    153.0   423.0
Some-college  5904.0  1387.0


As we can see from the table that there are people who are earning more than 50K who have atleast a high school education

**7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.**

In [109]:
male_subset = data.query('sex == "Male"')
male_subset.groupby('race').describe()
print("Maximum age of a man of Amer-Indian-Eskimo is 82 years")

Maximum age of a man of Amer-Indian-Eskimo is 82 years

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [117]:
data['IsMarried'] = ((data['marital-status'] == "Married-civ-spouse") | (data['marital-status'] == "Married-spouse-absent") | (data['marital-status'] == "Married-AF-spouse"))
counted_marriage = data.pivot_table(index='IsMarried', values='workclass', columns='salary', aggfunc='count')
print(counted_marriage)
print("\n")
print("Among those who earn more than 50K, the proportion of married men is greater:")

salary     <=50K  >50K
IsMarried
False      16039  1105
True        8681  6736


Among those who earn more than 50K, the proportion of married men is greater:

**9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [143]:
print("Maximum number a person works per week is:",data['hours-per-week'].max(),"hours per week")

rslt_df = data[data['hours-per-week'] == 99]
g50K=rslt_df['salary'].value_counts(normalize=True)
g50K

print("Percentage of people who work",data['hours-per-week'].max(),"hours per week and earn more than 50K is",g50K['>50K']*100,"%")

Maximum number a person works per week is: 99 hours per week
Percentage of people who work 99 hours per week and earn more than 50K is 29.411764705882355 %

**10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?**

In [4]:
avgtimework = data.pivot_table(index=['salary','native-country'], values='hours-per-week', aggfunc=[np.mean])
pd.options.display.max_rows = 88
avgtimework
print("In Japan, for those who earn less than 50K their average working hours is 41\n")
print("In Japan, for those who earn more than 50K their average working hours is 47.95\n")

In Japan, for those who earn less than 50K their average working hours is 41

In Japan, for those who earn more than 50K their average working hours is 47.95